.dice {
    text-align: center;
    font-size: xxx-large;
    background-color: rgba(21, 142, 99, 0.91);
    border-radius: 15px;
    color: white;
}

.selected {
    background-color: rgba(4, 198, 46, 0.98);
    color: red;
}