.dice {
    text-align: center;
    font-size: xxx-large;
    background-color: rgba(51, 180, 134, 0.71);
    border-radius: 15px;
    color: white;
}

.selected {
    background-color: rgba(4, 198, 46, 0.98);
    color: red;
}